PORT=8000
FRONTEND_ORIGIN=http://localhost:5173
ACADEMIA_URL=https://academia.srmist.edu.in
ACADEMIA_TIMETABLE_URL=https://academia.srmist.edu.in/#Page:My_Time_Table_2025-26_EVEN
SCRAPE_HEADLESS=true
